.header, .container {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 60px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.inputField {
    padding: 10px;
    width: 40%;
    border: none;
}
.btn {
    padding: 20px;
    background: #D04848;
    border: none;
}
body {
    background-image: url(photo-1506619216599-9d16d0903dfd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #F3B95F;
}
.toDoAdded {
    background: #E64848;
    list-style-type: none;
    height: 60px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-bottom: 1 px solid #cdc7be;
}
.toDoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toDoCompleted {
    background: #8fd9a8;
    color: black;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 2s ease;
}
@media all and(max-wild: 800px) {
    h1 {
        font-size: 40px;
    }
}
@media all and(max-wild: 500px) {
    font-size: 30px;
}